/* GENERAL */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Bw Modelica";
}

.container {
  width: 1280px;
  margin: 0 auto;
}

h1 {
  font-size: 34px;
  line-height: 42px;
  color: #171717;
  font-weight: 400;
}

#root a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
  color: black;
}

/* HEADER */
.header {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 40px;
}
.header .header-right {
  display: flex;
  gap: 10px;
}

.header button {
  border: 1px solid #2cb1ba;
  padding: 12px;
  border-radius: 5px;
  background-color: transparent;
  color: #2cb1ba;
}

.header button:last-child {
  background-color: #2cb1ba;
  color: #fff;
}
.header input {
  width: 100%;
  width: 600px;
  padding: 12px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: none;
  color: #4d4d4d;
}

/* Filters */
.filters {
  margin-top: 24px;
  display: flex;
  gap: 64px;
}
.switch-container p,
.price-selector p {
  font-size: 12px;
  margin-bottom: 12px;
}

.price-selector p {
  margin-bottom: 6px;
  text-align: center;
}

/* ---- */
/* MAIN */
/* ---- */

/* Hero */
.hero-main {
  background-image: url("./assets/img/hero.jpg");
  height: 455px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.hero-cta {
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-cta button {
  width: 100%;
  background-color: #2cb1ba;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  padding: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 14px;
}

/* Posts */
.posts .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px 0;
}
.post {
  width: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 12px 0;
}
.post img {
  width: 100%;
  height: 235px;
  object-fit: cover;
}
.post p {
  margin: 5px 0;
  color: #999999;
  font-size: 12px;
}
.post p:last-of-type {
  color: #171717;
  font-weight: bolder;
}

/* OFFER */
.offer {
  background-color: #f2f2f2;
  padding: 20px 0;
  min-height: calc(100vh - 120px);
}
.offer .container {
  display: flex;
  gap: 30px;
}

.offer .offer-right {
  width: 255px;
  background-color: #fff;
  border-radius: 5px;
  padding: 12px;
}
.offer .offer-left {
  width: calc(100% - 285px);
}
.offer .offer-left img {
  width: 100%;
  height: 625px;
  object-fit: cover;
  border-radius: 5px;
}

.offer .offer-price {
  font-size: 24px;
  line-height: 32px;
}
.offer .offer-infos {
  font-size: 13px;
  line-height: 19.5px;
  color: #757575;
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.offer .offer-infos p {
  display: flex;
  justify-content: space-between;
}

.offer .offer-right button {
  font-size: 14px;
}
.offer .offer-right button:first-of-type {
  background-color: #2cb1ba;
  color: #fff;
  border: none;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  margin: 12px 0px;
}
.offer .offer-right button:last-of-type {
  background-color: #fff;
  color: #2cb1ba;
  border: 1px solid #2cb1ba;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
}
.offer .offer-name {
  margin-top: 18px;
  font-weight: 400;
}

/* SIGNUP */
.signup,
.signin {
  text-align: center;
}
.signup h1,
.signin h1 {
  margin: 20px 0;
}
.signup form,
.signin form {
  width: 280px;
  margin: 0 auto;
}
.signup input,
.signin input {
  width: 100%;
  font-size: 13px;
  padding: 12px;
  margin-bottom: 6px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  columns: rgba(0, 0, 0, 0.05);
}
.signup form .enroll-newsletter label {
  width: 100%;
  text-align: left;
  font-family: "Bw Modelica";
  font-size: 14px;
}

.signup .enroll-newsletter {
  display: flex;
  gap: 10px;
  text-align: left;
  margin: 24px 0;
}
.signup form p {
  font-size: 12px;
  color: #999999;
  text-align: left;
  line-height: 18px;
}

.signup form button,
.signin form button {
  width: 100%;
  background-color: #2cb1ba;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin: 12px 0;
  font-size: 16px;
}

.signup form a,
.signin form a {
  color: #2cb1ba;
  font-family: "Bw Modelica";
  font-size: 12px;
}

/* MODAL */
.modal-root {
  color: red;
  /* Pour que la modal prenne tout l'écran : */
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* Pour placer la modal tout en haut à gauche une fois en position relative */
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Mettre un background noir et transparent : */
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  background-color: white;
  width: 700px;
  height: 400px;
  padding: 10px 50px;
  /* Placer le button en haut à droite de la modal : */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.8);
}
.modal button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* ------- */
/* PUBLISH */
/* ------- */
.publish {
  background-color: #eaedee;
  padding: 48px 0;
}
.publish h1 {
  margin-bottom: 32px;
}
.dropzone {
  width: 100%;
  background-color: #fff;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-top: 24px;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.5);
}
.input-block {
  background-color: #fff;
  padding: 12px 50px;
  margin-top: 24px;
  padding-bottom: 32px;
  border-radius: 8px;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.5);
}
.publish .publish-input {
  display: flex;
  margin-top: 24px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}
.publish .publish-input p {
  width: 300px;
}
.publish .publish-input input {
  width: 100%;
  height: 32px;
  border: none;
  background-color: #fff;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.publish .publish-input input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.publish button {
  width: 100%;
  font-size: 18px;
  margin-top: 24px;
  padding: 18px 0;
  background-color: #2fb0ba;
  border: none;
  color: #fff;
  border-radius: 12px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
}

/* -------- */
/* CHECKOUT */
/* -------- */

.checkout-form {
  min-height: calc(100vh - 64px);
  padding: 32px 0;
  width: 552px;
  margin: 0 auto;
  background-color: #fff;
  padding: 24px;
  height: 800px;
}
.checkout-form h1 {
  font-size: 14px;
  line-height: 18px;
  color: #999999;
}
.checkout-form span {
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  font-family: "Bw Modelica";
}
.checkout-form .payment-input {
  display: flex;
  justify-content: space-between;
}
#root > div > div.chekout > div > div > form {
  width: 500px;
}
.checkout-form p {
  margin-bottom: 40px;
}
.payment-input {
  margin: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 12px 0;
}

#root > div > div.chekout > div > div > form > input[type="submit"] {
  width: 100%;
  background-color: #01ccbc;
  color: #fff;
  border: none;
  padding: 12px;
  margin-top: 24px;
}
.payment-product-name {
  margin-top: 24px;
}
.payment-shipping {
  margin-bottom: 24px;
}
#root > div > div.chekout {
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 42px;
}

#root > div > div.chekout > div > div > form > div.payment-completed > h1 {
  font-size: 32px;
  text-align: center;
  color: #000;
  line-height: 48px;
  background-color: lightgreen;
  padding: 24px;
  margin: 24px 0;
  border-radius: 5px;
}
#root
  > div
  > div.chekout
  > div
  > div
  > form
  > div.payment-completed
  > a
  > button {
  font-weight: 18px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #01ccbc;
  color: #fff;
  font-size: 18px;
}
.checkout-form h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}

/* ------ */
/* LOADER */
/* ------ */
.loader-block {
  /* height: 100vh; */
  margin-top: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #01ccbc;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/* MEDIA QUERIES */
@media (max-width: 1468px) {
  .container {
    width: 980px;
  }
  .header input {
    width: 350px;
  }
  .posts .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 980px;
  }
  .posts .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
